@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(31 41 55);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: rgb(31 41 55);
  }
}

.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 50s ease infinite;
  -moz-animation: AnimationName 50s ease infinite;
  animation: AnimationName 50s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}