@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f2efef;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: rgb(31 41 55);
  }


}



h1 {
  font-size: large;
}

.background-animate {
  background-size: 400%;

  animation: AnimationName 30s ease infinite;
}

@media (pointer:none), (pointer:coarse) {
  .background-animate {
    background-size: 400%;

    animation:none
  }
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  
}