
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  padding: 0px;
  background-image:url(/Users/ramjayakumar/repos/personalsite/dist/pipes-black-bg.png);
  transition: all 0.5s;
  background-attachment: fixed;
  
}




a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: baseline;
}

h1 {
  margin: 5px 0px;
}

p {
  margin: 10px 0px;
  transition: all 0.5s;
}





.card {
  background-image: url(/softwindows-95-desktop-transformed.png);
  background-size: contain;
  background-size: 100% 100%;
  width: 90vw;
  margin: 50px 0px;
  max-width: 3400px;
  aspect-ratio: 1 / .75;



}

.card-content {
  height: inherit;
  display: grid;
  grid-template-columns: 20% 80%;
}

.card-content--links {
  margin-left: 40px;
  color: #FFFFFF;
  padding: 2%;
}

.card-content--text {
  margin-top: 7vh;
  height: 85%;
  font-size: 2vh;
  overflow-y: scroll;
  overflow-x: hidden;


  

  
}

.card-content--window {
  margin-top: 5vh;

  min-width: 50%;
  max-width: auto;
  max-height: 100%;
  background-image: url(controlpanel-transformed.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  resize: both;
  overflow-y: hidden;
  aspect-ratio: 1 / .75;

  

}

.buttons--social {
  display: flex;
}

@keyframes fadein {
    from { opacity: 0; margin-top: 100px;}
    to   { opacity: 1; margin-top: 0px;}
}

@media screen and (max-width:820px) {
  /* CSS for screens that are 320 pixels or less will be put in this section */
  /*
  .card {
    background-color: rgb(255, 255, 255);
    padding: 0px 40px;
    border: solid rgb(217, 217, 217) 3px;
    border-radius: 30px;
    max-width: 250px;
    -webkit-animation: fadein 1.2s; 
    animation: fadein 1.2s;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
  */

}

.info {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.info--headshot {
  padding: 0px;
  width: 200px;
}

.info--text {
  margin-left: 30px;
}

.info--text h1{
  
  font-weight: 500;
  margin: 0px
}

.info--text > p{
  font-weight: 300;
  margin: 0px;
  color: rgb(75, 58, 228);
}

.buttons {
  margin-top: 10px;
  display: flex;
  max-height: 50px;
  gap: 10px;
}

.info--email {
  gap: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  color: black;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
}

.info--github {
  gap: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  background: #000000;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  text-decoration: none;
}

.info--github:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 10px -6px #000000;
  transition: all 0.2s;
}


.info--linkedin{
  gap: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(69, 111, 250);
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  text-decoration: none;
}

.info--linkedin:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 10px -6px #000000;
  transition: all 0.2s;
}

.about {
  margin-top: 10px;
}

.purple {
  color:rgb(75, 58, 228)
}

a {
  text-decoration: none;
}

.footer-link:link {
  color:rgb(69, 111, 250)
}

/* visited link */
.footer-link:visited {
  color: rgb(69, 111, 250)
}

/* mouse over link */
.footer-link:hover {
  color: rgb(127, 156, 250)
}

.darkModeButton {
  user-select: none;
  cursor: pointer;
  background-color: #FFFFFF;
  border: #b9b9b9 solid 1px;
  border-radius: 20px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 30px;
  padding: 20px;
}

.darkModeButton:hover {
  background-color: #a1a1a1;
}

/* selected link */

.dark {
  background-color: #000000;
  color: #FFFFFF;
}

.info--text.dark > p {
  color: orange
}

.orange {
  color: orange
}

.card-content--links button {
  cursor: pointer;
  padding: 40px;
  width: 13vh;
  height: 13vh;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0px;
  margin-top: 5vh;
}

.card-content--links div {
  font-size: 3vh;
}

.about-icon--button {
  background-image: url(icons/Contacts.png);
}

.project-icon--button {
  background-image: url(icons/Drive.png);
}

.contacts-icon--button {
  background-image: url(icons/Phone-2.png);
}

.icon {
  background-size: cover;
}

.hidden {
  color: gold;
}

