body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./public/pipes-white-bg.webp);
  font-family: Poppins;
  padding: 100px 0px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: baseline;
}

h1 {
  margin: 5px 0px;
}

p {
  margin: 10px 0px;
}



.card {
  background-color: rgb(255, 255, 255);
  padding: 0px 40px;
  border: solid rgb(217, 217, 217) 3px;
  border-radius: 30px;
  max-width: 700px;

  -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 1.2s;
}

@keyframes fadein {
    from { opacity: 0; margin-top: 100px;}
    to   { opacity: 1; margin-top: 0px;}
}

.info {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.info--headshot {
  padding: 0px;
  width: 200px;
}

.info--text {
  margin-left: 30px;
}

.info--text h1{
  
  font-weight: 500;
  margin: 0px
}

.info--text > p{
  font-weight: 300;
  margin: 0px;
  color: rgb(75, 58, 228);
}

.buttons {
  margin-top: 10px;
  display: flex;
  max-height: 50px;
  gap: 10px;
}

.info--email {
  gap: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  color: black;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
}

.info--github {
  gap: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  background: #000000;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  text-decoration: none;
}

.info--github:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 10px -6px #000000;
  transition: all 0.2s;
}


.info--linkedin{
  gap: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(69, 111, 250);
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  text-decoration: none;
}

.info--linkedin:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 10px -6px #000000;
  transition: all 0.2s;
}

.purple {
  color:rgb(75, 58, 228)
}

a {
  text-decoration: none;
}

.footer-link:link {
  color:rgb(69, 111, 250)
}

/* visited link */
.footer-link:visited {
  color: rgb(69, 111, 250)
}

/* mouse over link */
.footer-link:hover {
  color: rgb(127, 156, 250)
}

/* selected link */

  


