
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  padding: 100px 0px;
  background-image: url(/pipes-white-bg.webp);
  transition: all 0.5s;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.content {
  min-width: none;
  display: flex;
  justify-content: baseline;
}

h1 {
  margin: 5px 0px;
}

p {
  margin: 10px 0px;
  transition: all 0.5s;
}





.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: rgb(255, 255, 255);
  padding: 20px 40px;
  border: solid rgb(217, 217, 217) 3px;
  border-radius: 30px;
  max-width: 700px;

  -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 1.2s;
}


.buttons--social {
  display: flex;
}

@keyframes fadein {
    from { opacity: 0; margin-top: 100px;}
    to   { opacity: 1; margin-top: 0px;}
}

@media screen and (max-width:820px) {
  /* CSS for screens that are 320 pixels or less will be put in this section */
  .card {
    background-color: rgb(255, 255, 255);
    padding: 0px 40px;
    border: solid rgb(217, 217, 217) 3px;
    border-radius: 30px;
  
    -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 12.1 */
    animation: fadein 1.2s;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }


}

.info {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.info--headshot {
  padding: 0px;
  width: 200px;
}

.info--text {
  margin-left: 30px;
}

.info--text h1{
  
  font-weight: 500;
  margin: 0px
}

.info--text > p{
  font-weight: 300;
  margin: 0px;
  color: rgb(75, 58, 228);
}

.buttons {
  margin-top: 10px;
  display: flex;
  max-height: 50px;
  gap: 10px;
}

.info--email {
  gap: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  color: black;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
}

.info--github {
  gap: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  background: #000000;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  text-decoration: none;
}

.info--github:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 10px -6px #000000;
  transition: all 0.2s;
}


.info--linkedin{
  gap: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(69, 111, 250);
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  text-decoration: none;
}

.info--linkedin:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 10px -6px #000000;
  transition: all 0.2s;
}

.about {
  margin-top: 10px;
}

.purple {
  color:rgb(75, 58, 228)
}

a {
  text-decoration: none;
}

.footer-link:link {
  color:rgb(69, 111, 250)
}

/* visited link */
.footer-link:visited {
  color: rgb(69, 111, 250)
}

/* mouse over link */
.footer-link:hover {
  color: rgb(127, 156, 250)
}

.darkModeButton {
  user-select: none;
  cursor: pointer;
  background-color: #FFFFFF;
  border: #b9b9b9 solid 1px;
  border-radius: 20px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 30px;
  padding: 20px;
}

.darkModeButton:hover {
  background-color: #a1a1a1;
}

/* selected link */

.dark {
  background-color: #000000;
  color: #FFFFFF;
}

.info--text.dark > p {
  color: orange
}

.orange {
  color: orange
}


